/*
Theme Name: Screenr Child
Description: Screenr Child Theme
Author: LB Web Surferz
Template: screenr
Version: 1.0.0
*/


/*#item1 {
    background-image: url("/wp-content/uploads/2016/10/item1.png");
}*/
.features-content .features__item #item1{
    margin-bottom: 0px;
    display: inherit;
    background-image: url(/wp-content/uploads/2016/10/item1.png);
    margin-left: auto;
    margin-right: auto;
}


/* Story and Facts Archive Page CSS */
/* --------------------------------------------- */
#story-description, #fact-description, .swiper-slide-desc{
	/*border: red 2px dashed; /*test*/
	width: 65%;
    margin-left: auto;
    margin-right: auto;
	padding-top: 10px;
	margin-top: 10px;
	font-style: italic;
	letter-spacing: 1px;
	font-weight: bold;
	text-align: center;
}

#content-inside{
	/*border: red 2px dashed; /*test*/
}
/* --------------------------------------------- */
/* END of Story and Facts Archive Page CSS */


.nav-menu a:hover
{
	color: #0D5591;
}

.nav-menu a:focus
{
	color: #0D5591;
}

.nav-menu *:focus
{
	border: 1px solid #0D5591;
	color: #0D5591;
}

*:focus
{
	border: 1px solid #0D5591;
	color: #0D5591;
}
<<<<<<< HEAD
=======
/* Fellow Activists Page CSS */
/* --------------------------------------------- */
>>>>>>> 142488132ac4557d88631fe8603ba83a6d92af49

#client0 img {
  margin-top: 13%;
}

#client1 img {
  margin-left: 30%;
}

#client2 img {
  margin-top: 10%;
}

#client3 img {
  margin-top: 3%;
}

#client4 img {
  margin-top: 8%;
}

.client-col img {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.client-col img:hover {
	-moz-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

/* --------------------------------------------- */
/* Fellow Activists Page CSS */
